@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ff7978;
  background-image: url(../images/bg-intro-mobile.png);
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "text"
    "button-try"
    "form";
  padding: 4rem 1.3rem 3rem 1.3rem;
}
.text {
  grid-area: text;
  text-align: center;
  color: #fff;
}
.text h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.text p {
  font-size: 14px;
  line-height: 1.5;
  color: rgb(238, 238, 238);
  margin-bottom: 3.5rem;
}
.button-try {
  grid-area: button-try;
  padding: 1rem 3rem 1rem 3rem;
  background: #5d54a3;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
  -moz-box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
  box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
}
.button-try:hover {
  background: #756aca;
  transition: 1s all ease;
}
.button-try a {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 100;
}
.form {
  grid-area: form;
  background: #fff;
  padding: 2rem 1rem 1.3rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(217, 103, 104, 1);
  -moz-box-shadow: 0px 7px 0px 0px rgba(217, 103, 104, 1);
  box-shadow: 0px 7px 0px 0px rgba(217, 103, 104, 1);
}
.form .error {
  border: 2px solid salmon;
  transform: 1s all ease;
}
.errorFirstName {
  margin: 0px;
  float: right;
  font-size: 10px;
  margin-top: -1rem;
  color: salmon;
}
.noError {
  border: 1px solid red;
}
.errorLastName {
  margin: 0px;
  float: right;
  font-size: 10px;
  margin-top: -1rem;
  color: salmon;
}
.errorEmail {
  margin: 0px;
  float: right;
  font-size: 10px;
  margin-top: -1rem;
  color: salmon;
}
.errorPassword {
  margin: 0px;
  float: right;
  font-size: 10px;
  margin-top: -1rem;
  color: salmon;
}
.form input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: 3rem;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.form input::placeholder {
  font-weight: bold;
}
.form button {
  background: #37cc8a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(86, 181, 139, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(86, 181, 139, 1);
  box-shadow: 0px 4px 0px 0px rgba(86, 181, 139, 1);
  margin-bottom: 1rem;
  cursor: pointer;
}
.form button:hover {
  background: #31a06f;
  transition: 1s all ease;
}
.form p {
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  color: rgb(196, 196, 196);
}
.form p span {
  font-weight: bold;
  color: #b86a6f;
}

/*768px*/

@media (min-width: 768px) {
  .container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "text"
      "button-try"
      "form";
    padding: 4rem 1.3rem 3rem 1.3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text button-try"
      "text form";
    grid-gap: 2rem;
    padding: 3rem 6rem 3rem 6rem;
  }
  .button-try {
    grid-area: button-try;
    padding: 1rem 3rem 1rem 3rem;
    background: #5d54a3;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;

    -webkit-box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
    -moz-box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
    box-shadow: 0px 7px 0px 0px rgba(219, 103, 104, 1);
  }

  .text {
    grid-area: text;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .text h1 {
    width: 100%;
    font-size: 2.3rem;
    line-height: 2.5rem;
    text-align: left;
  }
  .text p {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text button-try"
      "text form";
    grid-gap: 2rem;
    padding: 3rem 6rem 3rem 6rem;
  }
}
